<div class="change-password-modal">
  <h2 class="change-password-modal__title">Смена пароля</h2>

  <form class="change-password-modal__form" (submit)="$event.preventDefault(); onSubmit()">
    <app-text-field
      label="Текущий пароль"
      type="password"
      [required]="true"
      placeholder="Введите текущий пароль"
      [(value)]="currentPassword"
    />
    <app-text-field
      label="Новый пароль"
      type="password"
      [required]="true"
      placeholder="Введите новый пароль"
      [(value)]="newPassword"
    />
    <app-text-field
      label="Повтор нового пароля"
      type="password"
      [required]="true"
      placeholder="Повторите новый пароль"
      [(value)]="confirmPassword"
    />

    <div class="change-password-modal__actions">
      <app-button text="Сохранить" type="primary" [width]="'content'" (click)="onSubmit()" />
      <app-button text="Отмена" type="secondary" [width]="'content'" (click)="onCancel()" />
    </div>
  </form>
</div>
