@use 'variables' as vars;
@use 'mixins';

.change-password-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  min-width: 360px;
}

.change-password-modal__title {
  @include mixins.h1;
  color: vars.$color-black;
}

.change-password-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.change-password-modal__actions {
  display: flex;
  gap: 12px;
}
